$yellow: #ceab00;
$darkblue: #444d70;
$blue: #215aaf;
$lightblue: #658ac2;
$darkred: #820c0c;
$lightred: #ff5757;
$lightgreen: #18bd0f;
$darkgreen: #096e03;
$lightpink: #ae11bd;
$darkpink: #7a0285;
$purple: #7a0285;
$brown: #87631a;
$orange: rgb(255, 115, 0);
$lightgray: #c9c9c9;
$darkgray: #4b4b4b;
$lightblack: #353535;
$darkwhite: #e4e4e4;
